{% extends 'base.html' %}
{% load staticfiles %} <!--static 폴더에 있는 것들을 load한다 -->
{% block content %}

<div class="container demo-3">
	<div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title">SUDOKU</span></h1>
        </div>

        <div class="codrops-header">
            <h1>Put your SUDOKU!</h1>
            
                <h3>2017112610 송수민</h3>

            
        </div>
    </div>
    <!-- Related demos -->
    <section class="related">
    <div>
    <table>
        <!-- form 태그는 81개의 수도쿠 숫자를 받아 POST 방법으로 create url로 넘겨
        views.py 에서 처리한다.-->
        <form action = "{% url 'posts:create'%}" method = "POST" width = "auto">
            {% csrf_token %}
        <tr>
            <td>
                
                <input type = "text" name = "row1[]" value = "5">
            </td>
            <td>
               
                <input type = "text" name = "row1[]" value = "3">
            </td>
            <td>
                
                <input type = "text" name = "row1[]" value = "4">
            </td>
            <td>
               
                <input type = "text" name = "row1[]" value = "6">
            </td>
            <td>
                
                <input type = "text" name = "row1[]" value = "7">
            </td>
            <td>
               
                <input type = "text" name = "row1[]" value = "8">
            </td>
            <td>
              
                <input type = "text" name = "row1[]" value = "9">
            </td>
            <td>
               
                <input type = "text" name = "row1[]" value = "1">
            </td>
            <td>
                
                <input type = "text" name = "row1[]" value = "2">
            </td>  
        </tr>
        
  <tr>
  <td><input type = "text" name = "row2[]" value = "6"></td>
  <td><input type = "text" name = "row2[]"  value = "7"></td>
  <td><input type = "text" name = "row2[]"  value = "2"></td>
  <td><input type = "text" name = "row2[]"  value = "1"></td>
  <td><input type = "text" name = "row2[]"  value = "9"></td>
  <td><input type = "text" name = "row2[]"  value = "5"></td>
  <td><input type = "text" name = "row2[]"  value = "3"></td>
  <td><input type = "text" name = "row2[]"  value = "4"></td>
  <td><input type = "text" name = "row2[]"  value = "8"></td>  
  </tr>
  
  <tr>
  <td><input type = "text" name = "row3[]" value = "1"></td>
  <td><input type = "text" name = "row3[]" value = "9"></td>
  <td><input type = "text" name = "row3[]" value = "8"></td>
  <td><input type = "text" name = "row3[]" value = "3"></td>
  <td><input type = "text" name = "row3[]" value = "4"></td>
  <td><input type = "text" name = "row3[]" value = "2"></td>
  <td><input type = "text" name = "row3[]" value = "5"></td>
  <td><input type = "text" name = "row3[]" value = "6"></td>
  <td><input type = "text" name = "row3[]" value = "7"></td>  
  </tr>
  
  <tr>
  <tr>
  <td><input type = "text" name = "row4[]" value = "8"></td>
  <td><input type = "text" name = "row4[]" value = "5"></td>
  <td><input type = "text" name = "row4[]" value = "9"></td>
  <td><input type = "text" name = "row4[]" value = "7"></td>
  <td><input type = "text" name = "row4[]" value = "6"></td>
  <td><input type = "text" name = "row4[]" value = "1"></td>
  <td><input type = "text" name = "row4[]" value = "4"></td>
  <td><input type = "text" name = "row4[]" value = "2"></td>
  <td><input type = "text" name = "row4[]" value = "3"></td>  
  </tr>

  <tr>
  <td><input type = "text" name = "row5[]" value = "4"></td>
  <td><input type = "text" name = "row5[]" value = "2"></td>
  <td><input type = "text" name = "row5[]" value = "6"></td>
  <td><input type = "text" name = "row5[]" value = "8"></td>
  <td><input type = "text" name = "row5[]" value = "5"></td>
  <td><input type = "text" name = "row5[]" value = "3"></td>
  <td><input type = "text" name = "row5[]" value = "7"></td>
  <td><input type = "text" name = "row5[]" value = "9"></td>
  <td><input type = "text" name = "row5[]" value = "1"></td>  
  </tr>
  
  <tr>
  <td><input type = "text" name = "row6[]" value = "7"></td>
  <td><input type = "text" name = "row6[]" value = "1"></td>
  <td><input type = "text" name = "row6[]" value = "3"></td>
  <td><input type = "text" name = "row6[]" value = "9"></td>
  <td><input type = "text" name = "row6[]" value = "2"></td>
  <td><input type = "text" name = "row6[]" value = "4"></td>
  <td><input type = "text" name = "row6[]" value = "8"></td>
  <td><input type = "text" name = "row6[]" value = "5"></td>
  <td><input type = "text" name = "row6[]" value = "6"></td>  
  </tr>
  
  <tr>
  <td><input type = "text" name = "row7[]" value = "9"></td>
  <td><input type = "text" name = "row7[]" value = "6"></td>
  <td><input type = "text" name = "row7[]" value = "1"></td>
  <td><input type = "text" name = "row7[]" value = "5"></td>
  <td><input type = "text" name = "row7[]" value = "3"></td>
  <td><input type = "text" name = "row7[]" value = "7"></td>
  <td><input type = "text" name = "row7[]" value = "2"></td>
  <td><input type = "text" name = "row7[]" value = "8"></td>
  <td><input type = "text" name = "row7[]" value = "4"></td>  
  </tr>
  
  <tr>
  <td><input type = "text" name = "row8[]" value = "2"></td>
  <td><input type = "text" name = "row8[]" value = "8"></td>
  <td><input type = "text" name = "row8[]" value = "7"></td>
  <td><input type = "text" name = "row8[]" value = "4"></td>
  <td><input type = "text" name = "row8[]" value = "1"></td>
  <td><input type = "text" name = "row8[]" value = "9"></td>
  <td><input type = "text" name = "row8[]" value = "6"></td>
  <td><input type = "text" name = "row8[]" value = "3"></td>
  <td><input type = "text" name = "row8[]" value = "5"></td>  
  </tr>
  
  <tr>
  <td><input type = "text" name = "row9[]" value = "3"></td>
  <td><input type = "text" name = "row9[]" value = "4"></td>
  <td><input type = "text" name = "row9[]" value = "5"></td>
  <td><input type = "text" name = "row9[]" value = "2"></td>
  <td><input type = "text" name = "row9[]" value = "8"></td>
  <td><input type = "text" name = "row9[]" value = "6"></td>
  <td><input type = "text" name = "row9[]" value = "1"></td>
  <td><input type = "text" name = "row9[]" value = "7"></td>
  <td><input type = "text" name = "row9[]" value = "9"></td>  
  </tr>
  
</table>
</div>
<br>
<input type="submit"value="Start?"/>
</form>

    </section>
</div><!-- /container -->

<script src = "{% static 'js/TweenLite.min.js'%}"></script>
<script src="{% static 'js/EasePack.min.js' %}"></script>
<script src="{% static 'js/rAF.js' %}"></script>
<script src="{% static 'js/demo-3.js' %}"></script>

<style>
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
{% endblock %}
